<div class="baseDialog">
    <div class="tabs-wrapper">
        <div class="tabs-content" [style.left]="-(tabIndex * 450)+'px'">
            <div class="tab-item">
                <form [formGroup]="form" (ngSubmit)="save()">
                    <div class="formTitle">
                        {{hasInstance ? 'Solicitud No' + data.instance.solicitud_id : 'Crear Solicitud'}}
                        
                        <div class="request-state">
                            {{hasInstance ? data.instance.estado : 'Nueva'}}
                        </div>

                    </div>
                
                    <div class="formContent">
                
                        <div class="stvInputContainer">
                            <label>Proyecto</label>
                            <st-select formControlName="proyectoId" position="fixed" [multiple]="false" [config]="{
                                placeholder: 'Selecciona',
                                moreText: 'más',
                                noResultsFound: 'Sin resultados',
                                displayKey: 'label',
                                searchPlaceholder: 'Buscar',
                                selectAllLabel: 'Seleccionar todo'
                            }" [options]="optionsList.projects"/>
                            <div class="error-text" *ngIf="form.get('proyectoId')?.hasError('required')">
                                El proyecto es obligatorio.
                            </div>
                        </div>
    
                        <div class="stvInputContainer">
                            <label>Cliente</label>
                            <st-select formControlName="clienteId" position="fixed" [multiple]="false" [config]="{
                                placeholder: 'Selecciona',
                                moreText: 'más',
                                noResultsFound: 'Sin resultados',
                                displayKey: 'label',
                                searchPlaceholder: 'Buscar',
                                selectAllLabel: 'Seleccionar todo'
                            }" [options]="optionsList.customers"/>
                            <div class="error-text" *ngIf="form.get('clienteId')?.hasError('required')">
                                El cliente es obligatorio.
                            </div>
                        </div>
    
                        <div class="stvInputContainer">
                            <label>Fecha de requerimiento del servicio</label>
                            <input type="date" formControlName="fechaRequerimiento" placeholder="Escribe la fecha de vencimiento RTM">
                            <div class="error-text" *ngIf="form.get('fechaRequerimiento')?.hasError('required')">
                                la fecha es obligatoria.
                            </div>
                        </div>
    
                        <div formArrayName="servicesRCD" class="form-services">
                            <div class="form-services-header">
                                <label>Recolección de RCD</label>
                                <button type="button" (click)="addService({ type: 'servicesRCD', status: 'nueva' })">
                                    <span>Añadir item</span>
                                    <svg class="asc">
                                        <use xlink:href="#svg-add" />
                                    </svg>
                                </button>
                            </div>
    
                            <div *ngFor="let control of servicesRCD.controls; let i=index">
                                <service-item [group]="control" [products]="optionsList.productsRCD" (delete)="servicesRCD.removeAt(i)" (redirectToOrder)="saveAndGenerateOrder()" />
                            </div>
                        </div>
    
                        <div formArrayName="servicesRCD" class="form-services">
                            <div class="form-services-header">
                                <label>Suministro de materiales</label>
                                <button type="button" (click)="addService({ type: 'servicesSM', status: 'nueva' })">
                                    <span>Añadir item</span>
                                    <svg class="asc">
                                        <use xlink:href="#svg-add" />
                                    </svg>
                                </button>
                            </div>
    
                            <div *ngFor="let control of servicesSM.controls; let i=index">
                                <service-item [group]="control" [products]="optionsList.productsSM" (delete)="servicesSM.removeAt(i)" (redirectToOrder)="saveAndGenerateOrder()"/>
                            </div>
                        </div>
    
                        <div class="stvInputContainer">
                            <label>Observaciones</label>
                            <textarea rows="3" formControlName="observations"></textarea>
                        </div>
                
                    </div>
    
                    <div class="formActions">
                        <button class="primary" type="submit" [disabled]="form.invalid" (click)="save()">Guardar</button>
                        <button class="secondary" type="button" (click)="close()">Cancelar</button>
                        <button class="grey" type="button"  (click)="saveAndGenerateOrder()">Guardar y programar</button>
                    </div>
                </form>
            </div>
    
            <div class="tab-item">
                <app-order-form (backSolicitud)="backSolicitud()"/>
            </div>
        </div>
    </div>
</div>