<div class="baseDialog">
  <div class="formTitle">{{hasInstance ? 'Actualizar' : 'Crear'}} Vehiculo</div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="formContent">
      <ng-container class="formContent" *ngIf="isLoad; then thenBlock else elseBlock "></ng-container>
    </div>
  
    <ng-template #thenBlock>

      <div class="stvInputContainer">
          <label>Conductor</label>
          <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>Cargar Documento</label>
        <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>Cargar Planilla</label>
        <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>No Documento</label>
        <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>Fecha vencimiento planilla</label>
        <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
          <label>No Teléfono</label>
          <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>Fecha vencimiento licencia</label>
        <div class="loader-box"></div>
      </div>

      <div class="stvInputContainer">
        <label>Correo</label>
        <div class="loader-box"></div>
      </div>

    </ng-template>

    <ng-template #elseBlock>

      <div class="stvInputContainer">
        <label>Conductor</label>
        <st-select formControlName="usuarioId" position="fixed" [multiple]="false" [config]="{
            placeholder: 'Selecciona',
            moreText: 'más',
            noResultsFound: 'Sin resultados',
            displayKey: 'label',
            searchPlaceholder: 'Buscar',
            selectAllLabel: 'Seleccionar todo'
        }" [options]="optionsList.users"/>
        <div class="error-text" *ngIf="form.get('usuarioId')?.hasError('required')">
            El usuario conductor es obligatorio.
        </div>
      </div>

      <div class="stvInputContainer">
        <label>Cargar Documento</label>
        <st-input-file [urlFile]="previewFiles.urlDocumento" formControlName="urlDocumento" accept="image/*,.pdf"></st-input-file>

        <div class="error-text" *ngIf="form.get('urlDocumento')?.hasError('required')">
            El archivo del documento es obligatorio.
        </div>
      </div>


      <div class="stvInputContainer">
        <label>Cargar Planilla</label>
        <st-input-file [urlFile]="previewFiles.urlPlanilla" formControlName="urlPlanilla" accept="image/*,.pdf"></st-input-file>

        <div class="error-text" *ngIf="form.get('urlPlanilla')?.hasError('required')">
            La archivo de la planilla es obligatorio.
        </div>
      </div>

      <div class="stvInputContainer">
        <label>Fecha vencimiento planilla</label>
        <input type="date" formControlName="fechaVencimientoPlanilla" placeholder="Escribe la fecha de vencimiento planilla">
        <div class="error-text" *ngIf="form.get('fechaVencimientoPlanilla')?.hasError('required')">
            la fecha de vencimiento es obligatoria.
        </div>
      </div>

      <div class="stvInputContainer">
        <label>Cargar Licencia</label>
        <st-input-file [urlFile]="previewFiles.urlLicencia" formControlName="urlLicencia" accept="image/*,.pdf"></st-input-file>

        <div class="error-text" *ngIf="form.get('urlLicencia')?.hasError('required')">
            La archivo de la licencia es obligatorio.
        </div>
      </div>

      <div class="stvInputContainer">
        <label>Fecha vencimiento licencia</label>
        <input type="date" formControlName="fechaVencimientoLicencia" placeholder="Escribe la fecha de vencimiento Licencia">
        <div class="error-text" *ngIf="form.get('fechaVencimientoLicencia')?.hasError('required')">
            la fecha de vencimiento es obligatoria.
        </div>
      </div>

    </ng-template>
    
    <div class="formActions">
      <button class="primary" type="submit" [disabled]="form.invalid">Guardar</button>
      <button class="secondary" type="button" (click)="close()">Cancelar</button>
    </div>
  </form>
  
</div>