node_modules
.angular
*.cache
.cache
.exe
.pdb
.dll
.editorconfig

BackEnd/WebApiColGravas/bin/Debug/
BackEnd/WebApiColGravas/obj/

BackEnd/BusinessLayer/bin/Debug/
BackEnd/BusinessLayer/obj/

BackEnd/DataAccessLayer/bin/Debug/
BackEnd/DataAccessLayer/obj/

BackEnd/Entities/bin/Debug/
BackEnd/Entities/obj/

BackEnd\WebApiColGravas\obj\Debug\net7.0\WebApiColGravas.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/WebApiColGravas/obj/Debug/net7.0/WebApiColGravas.GeneratedMSBuildEditorConfig.editorconfig
backup/*.sql
