<div class="baseDialog">
    <div class="formTitle">{{hasInstance ? 'Actualizar' : 'Crear'}} Usuario</div>
    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="formContent" *ngIf="isLoad; then thenBlock else elseBlock "></div>

        <ng-template #thenBlock>

            <div class="stvInputContainer">
                <label>Correo</label>
                <div class="loader-box"></div>
            </div>
            <div class="stvInputContainer">
                <label>Fecha Creación</label>
                <div class="loader-box"></div>
            </div>
            <div class="stvInputContainer">
                <label>Contraseña</label>
                <div class="loader-box"></div>
            </div>
        </ng-template>

        <ng-template #elseBlock>

            <div class="stvInputContainer">
                <label>Correo</label>
                <input type="text" formControlName="correo" placeholder="Escribe el Correo">
                <div class="error-text" *ngIf="form.get('correo')?.hasError('required')">
                    El Correo es obligatorio.
                </div>
            </div>

            <div class="stvInputContainer">
                <label>Fecha Creación</label>
                <input type="text" formControlName="fechaCreacion" placeholder="Escribe la fechaCreacion">
                <div class="error-text" *ngIf="form.get('fechaCreacion')?.hasError('required')">
                    La Fecha Creación es obligatoria.
                </div>
            </div>

            <div class="stvInputContainer">
                <label>Contraseña</label>
                <input type="text" formControlName="contrasena" placeholder="Escribe la Contraseña">
                <div class="error-text" *ngIf="form.get('contrasena')?.hasError('required')">
                    La Contraseña es obligatoria.
                </div>
            </div>
        </ng-template>

        <div class="formActions">
            <button class="primary" type="submit" [disabled]="form.invalid">Guardar</button>
            <button class="secondary" type="button" (click)="close()">Cancelar</button>
        </div>
    </form>
</div>