:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}
.order-info {
  .solicitud-id {
    span {
      font-weight: 500;
      font-size: 14px;
      color: #0A99D6;
    }
    margin-bottom: 20px;
  }
  .service-name {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    margin-bottom: 12px;
  }
  .service-details {
    margin-left: 8px;
  }

}

.order-dates-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .halfday {
    label {
      display: block;
      text-align: center;
    }
    .halfday-controls {
      display: flex;
      justify-content: center;
      gap: 20px;
      .halfday-control {
        align-items: center;
        background-color: #F7F7F7;
        border-radius: 16px;
        color: #C5C5C5;
        cursor: pointer;
        display: flex;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        transition: all ease 150ms;
        width: 60px;
      }
    }
    &.am .halfday-controls .am-control{
      background-color: #949494;
      color: #fff;
    }
    
    &.pm .halfday-controls .pm-control{
      background-color: #949494;
      color: #fff;
    }
  }
}

.form-services {

  .form-services-list {
    margin-top: 10px;
    .form-services-list-header {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 0.2fr 1fr;
      width: 100%;
      div {
        color: #000;
        font-weight: 500;
      }
    }
    .form-services-list-items {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 10px 0;
      width: 100%;
      .form-services-item {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 0.4fr 1fr;
        width: 100%;
        .service-name, .service-qty {
          align-items: center;
          background-color: #F7F7F7;
          border-radius: 8px;
          color: #000;
          display: flex;
          padding: 0 8px;
        }
      }
    }
    
  }

}