<div class="formTitle">Crear Orden</div>
            
<form [formGroup]="form"   class="formContent" (ngSubmit)="save()">

    <div class="order-info">
        <div class="solicitud-id">
            <span>
                Solicitud No 39
            </span>
        </div>
        <div class="service-name">
            Recolección de RCD
        </div>
        <div class="service-details">
            Escombro 8 mt³
        </div>
    </div>

    <div class="stvInputContainer">
        <label>Selecciona el vehiculo</label>
        <st-select formControlName="vehiculoId" position="fixed" [multiple]="false" [config]="{
            placeholder: 'Selecciona',
            moreText: 'más',
            noResultsFound: 'Sin resultados',
            displayKey: 'label',
            searchPlaceholder: 'Buscar',
            selectAllLabel: 'Seleccionar todo'
        }" [options]="optionsList.customers"/>
        <div class="error-text" *ngIf="form.get('vehiculoId')?.hasError('required')">
            El vehiculo es obligatorio.
        </div>
    </div>

    <div class="stvInputContainer">
        <label>Selecciona el conductor</label>
        <st-select formControlName="conductorId" position="fixed" [multiple]="false" [config]="{
            placeholder: 'Selecciona',
            moreText: 'más',
            noResultsFound: 'Sin resultados',
            displayKey: 'label',
            searchPlaceholder: 'Buscar',
            selectAllLabel: 'Seleccionar todo'
        }" [options]="optionsList.customers"/>
        <div class="error-text" *ngIf="form.get('conductorId')?.hasError('required')">
            El conductor es obligatorio.
        </div>
    </div>


    <div class="order-dates-section">
        <div class="stvInputContainer">
            <label>Fecha de ejecución</label>
            <input type="date" formControlName="executionDate" placeholder="Escribe la fecha de ejecución">
        </div>
    
        <div [class]="'stvInputContainer halfday ' + form.get('halfDay')?.value">
            <label>Jornada</label>
            <div class="halfday-controls">
                <div class="halfday-control am-control" (click)="halfDaySelect('am')" >am</div>
                <div class="halfday-control pm-control" (click)="halfDaySelect('pm')">pm</div>
            </div>
        </div>
    </div>

    <div class="form-services">

        <div class="form-services-list">

            <div class="form-services-list-header">
                <div>
                    Suministro de materiales
                </div>
                <div></div>
                <div>
                    Seleccionar proveedor
                </div>
            </div>

            <div class="form-services-list-items">
    
                <div class="form-services-item" *ngFor="let control of [1,2]; let i=index">
                    <div class="service-name">
                            Escombro 7mt3
                    </div>
                    <div class="service-qty">1 Viaje</div>
                    <st-select formControlName="proveedorId" position="fixed" [multiple]="false" [config]="{
                        placeholder: 'Selecciona',
                        moreText: 'más',
                        noResultsFound: 'Sin resultados',
                        displayKey: 'label',
                        searchPlaceholder: 'Buscar',
                        selectAllLabel: 'Seleccionar todo'
                    }" [options]="optionsList.customers"/>
                </div>
            </div>

        </div>

    </div>

    <div class="stvInputContainer">
        <label>Observaciones</label>
        <textarea rows="3" formControlName="observations"></textarea>
    </div>


</form>
<div class="flex-1"></div>

<div class="formActions">
    <button class="primary" type="button" (click)="backSolicitudHandler()">Actualizar</button>
    <button class="secondary" type="button" (click)="backSolicitudHandler()">Cancelar</button>
</div>