<div class="baseDialog">
    <div class="formTitle">{{hasInstance ? 'Actualizar' : 'Crear'}} Paciente</div>
    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="formContent" *ngIf="isLoad; then thenBlock else elseBlock "></div>

        <ng-template #thenBlock>
            <div class="stvInputContainer">
                <label>Nombre del Servicio</label>
                <div class="loader-box"></div>
            </div>
          
        </ng-template>

        <ng-template #elseBlock>
            <div class="stvInputContainer">
                <label>Nombre del Servicio</label>
                <input type="text" formControlName="nombreServicio" placeholder="Escribe el Tipo Identificación">
                <div class="error-text" *ngIf="form.get('nombreServicio')?.hasError('required')">
                    El Nombre es obligatorio.
                </div>
            </div>
        </ng-template>

        <div class="formActions">
            <button class="primary" type="submit" [disabled]="form.invalid">Guardar</button>
            <button class="secondary" type="button" (click)="close()">Cancelar</button>
        </div>
    </form>
</div>
