<div class="baseDialog">
    <div class="formTitle">{{hasInstance ? 'Actualizar' : 'Crear'}} Producto</div>
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="formContent" *ngIf="isLoad; then thenBlock else elseBlock "></div>

        <ng-template #thenBlock>
            <div class="stvInputContainer">
                <label>Nombre del producto</label>
                <div class="loader-box"></div>
            </div>
    
            <div class="stvInputContainer">
                <label>Categoria</label>
                <div class="loader-box"></div>
            </div>
    
            <div class="stvInputContainer">
                <label>Unidad de medida</label>
                <div class="loader-box"></div>
            </div>
    
            <div class="stvInputContainer">
                <label>Descripción</label>
                <div class="loader-box"></div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="stvInputContainer">
                <label>Nombre del producto</label>
                <input type="text" formControlName="name" placeholder="Escribe el nombre">
                <div class="error-text" *ngIf="form.get('name')?.hasError('required')">
                    El nombre es obligatorio.
                </div>
            </div>

            <div class="stvInputContainer">
                <label>Categoria</label>
                <st-select formControlName="category" [multiple]="false" [config]="{
                    placeholder: 'Selecciona',
                    moreText: 'más',
                    noResultsFound: 'Sin resultados',
                    displayKey: 'label',
                    searchPlaceholder: 'Buscar',
                    selectAllLabel: 'Seleccionar todo'
                }" [options]="optionsList.categories" position="fixed" />
                <div class="error-text" *ngIf="form.get('category')?.hasError('required')">
                    LA categoria es obligatoria.
                </div>
            </div>

            <div class="stvInputContainer">
                <label>Unidad de medida</label>
                <st-select formControlName="uMedida" [multiple]="false" [config]="{
                    placeholder: 'Selecciona',
                    moreText: 'más',
                    noResultsFound: 'Sin resultados',
                    displayKey: 'label',
                    searchPlaceholder: 'Buscar',
                    selectAllLabel: 'Seleccionar todo'
                }" [options]="optionsList.unitOfMeasure" position="fixed" />
                <div class="error-text" *ngIf="form.get('uMedida')?.hasError('required')">
                    La unidad es obligatoria.
                </div>
            </div>

            <div class="stvInputContainer">
                <label>Descripción</label>
                <textarea formControlName="description" rows="3"></textarea>
            </div>
        </ng-template>

        <div class="formActions">
            <button class="primary" type="submit" [disabled]="form.invalid">Guardar</button>
            <button class="secondary" type="button" (click)="close()">Cancelar</button>
        </div>
    </form>
</div>