.dashboard-wrapper {
  display: grid;
  height: 100vh;
  grid-gap: 14px 0px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'sidebar menutop' 
  'sidebar contentwrapper';
  overflow: hidden;
  width: 100vw;

  app-menu {
      grid-area: sidebar; 
  }

  app-top-bar {
      grid-area: menutop;
  }

  .content-wrapper {
      grid-area: contentwrapper;
      overflow: auto;
  }
}