.stvInputContainer {
  height: 100%;
  width: 100%;
}
.input-pass-wrapper {
  height: 34px;
  position: relative;
  width: 100%;
  .toogle-visibility {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    
    svg {
      fill: #D9D9D9;
      height: inherit;
      width: inherit;
    }
  }
}