<div [class]="'dashboard-menu-wrapper ' +  (sidebarToggle ? 'sidebarFull' : 'sidebarMini') ">

  <div class='dashboard-menu'>
    <img alt='logo' class='dashboard-menu-logo logo-sm' src='/assets/img/ccm-logo.png'
      (click)="router.navigate(['home'])" />
    <img alt='logo' class='dashboard-menu-logo logo-xs' src='/assets/img/ccm-logo.png'
      (click)="router.navigate(['home'])" />

    <div class='menu-container'>

      <a class="menu-element" routerLinkActive="is-active" routerLink="/home/">
        <svg>
          <use xlink:href="#svg-menu-home" />
        </svg>
        <span>Home</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/users/">
        <img src="/assets/icons/usuarios.svg" alt="">
        <span>Usuarios</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/paciente/">
        <img src="/assets/icons/patient.svg" alt="">
        <span>Pacientes</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/medico/">
        <img src="/assets/icons/doctor.svg" alt="">
        <span>Medicos</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/citamedica/">
        <img src="/assets/icons/cita.svg" alt="">
        <span>Citas Medicas</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/servicio/">
        <img src="/assets/icons/servicios.svg" alt="">
        <span>Servicios</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/turno/">
        <img src="/assets/icons/turno.svg" alt="">
        <span>Turnos</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/historiaclinica/">
        <img src="/assets/icons/historial.svg" alt="">
        <span>Historia Clinica</span>
      </a>
    </div>
  </div>
</div>