<div [class]="'dashboard-menu-wrapper ' +  (sidebarToggle ? 'sidebarFull' : 'sidebarMini') ">

  <div class='dashboard-menu'>
    <img alt='logo' class='dashboard-menu-logo logo-sm' src='/assets/img/logo-texto.png'
      (click)="router.navigate(['home'])" />
    <img alt='logo' class='dashboard-menu-logo logo-xs' src='/assets/img/colgravas.png'
      (click)="router.navigate(['home'])" />

    <div class='menu-container'>

      <a class="menu-element" routerLinkActive="is-active" routerLink="/home/">
        <svg>
          <use xlink:href="#svg-menu-home" />
        </svg>
        <span>Home</span>
      </a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/users/">
        <img src="/assets/icons/usuarios.svg" alt="">
        <span>Usuarios</span>
      </a>
    </div>
  </div>
</div>