:root {
    --primary-color: #FBB516;
    --primary-color-opaque: #E0B144;
    --link-color: #0A99D6;

    --bg-color-1: #f7f7f7;
    --template-dark-blue: #253665;
    --template-gray: #404040;
    --template-orange: #ff7900;
    --template-danger: #ec3a3a;
}