<div class="home-principal-section">
    <div class="home-principal-content">
        <div class="top-cards">
            <st-card-status title="Citas Pendientes" [listItems]="listCitasPendientes"
                (clickCTA)="showFormSolicitudes()" />
            <st-card-status title="Citas Atendidas" [listItems]="listCitasAtendidas" (clickCTA)="showFormOrdenes()" />
        </div>
        <div class="principal-graphic">
            <span class="principal-graphic-title">Total Ordenes</span>
            <canvas appChart [chartData]="chartData" chartType="line" height="300" [legends]="true"></canvas>
        </div>
    </div>
    <div class="home-principal-side">
        <st-card-status title="Clientes" [listItems]="listClientes" (clickCTA)="showFormSolicitudes()" />
        <st-card-status title="Proyectos" [listItems]="listProyectos" (clickCTA)="showFormSolicitudes()" />
        <st-card-status title="Vehiculos" [listItems]="listVehiculos" (clickCTA)="showFormSolicitudes()" />
    </div>

</div>
<div class="bottom-graphics">
    <div class="circle-graphic-item">
        <div class="circle-graphic-item-title">Citas Médicas</div>
        <div class="circle-graphic-item-content">
            <canvas class="circle-graphic-item-chart" appChart [chartData]="doughnutData" chartType="doughnut"
                height="120"></canvas>
            <div class="circle-graphic-legends">
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Consulta Externa</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Urgencias</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Hospitalización</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Otros</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-graphic-item">
        <div class="circle-graphic-item-title">Recursos Médicos</div>
        <div class="circle-graphic-item-content">
            <canvas class="circle-graphic-item-chart" appChart [chartData]="doughnutData" chartType="doughnut"
                height="120"></canvas>
            <div class="circle-graphic-legends">
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Médicos</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Equipos</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Suministros</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
                <div class="circle-graphic-legend">
                    <span class="circle-graphic-legend-title">Otros</span>
                    <span class="circle-graphic-legend-text">38 %</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->