<ng-container [formGroup]="group">


  <ng-container *ngIf="group.get('status').value === 'nueva'">
    <ng-container *ngTemplateOutlet="formTemplateNew"></ng-container>
  </ng-container>

  <ng-container *ngIf="group.get('status').value === 'pendiente'">

    <ng-container *ngIf="statusForm === 'form'; then formTemplateEdit else checkTemplate"></ng-container>
    
    <ng-template #checkTemplate>
      <div class="service-item-check">
        <div class="service-item-check-select">
          <s-checkbox formControlName="selected"  />
          <span>
            {{ group.get('productoId').value?.label }} ({{ group.get('productoId').value?.uMedida }})
          </span>
        </div>
    
        <div class="service-item-check-qty">
          {{ group.get('cantidad').value }}
        </div>

        <div class="service-item-check-actions">
    
          <ng-container *ngIf="'pendiente' === group.get('status').value">
            <div class="service-item-edit" (click)="changeToEdit()">
              <svg>
                <use xlink:href="#svg-edit" />
              </svg>
            </div>
            <div class="service-item-trash" (click)="deleteItem()">
              <svg>
                <use xlink:href="#svg-trash-2" />
              </svg>
            </div>
          </ng-container>
        </div>

      </div>
    </ng-template>
  
  </ng-container>


  <div *ngIf="'asignada' === group.get('status').value" class="service-item-check">
    
    <div class="service-item-check-select">
      <span>
        {{ group.get('productoId').value?.label }}
      </span>
    </div>

    <div class="service-item-check-qty">
      {{ group.get('cantidad').value }}
    </div>

    <div class="service-item-check-actions">
      <!-- <div class="service-item-status">
        Cancelada
      </div> -->

      <div *ngIf="'asignada' === group.get('status').value" class="service-item-link" (click)="redirectOrderHanlder(1)">
        Orden N 100
      </div>

      <ng-container *ngIf="'pendiente' === group.get('status').value">
        <div class="service-item-edit" (click)="changeToCheck()">
          <svg>
            <use xlink:href="#svg-save-outline" />
          </svg>
        </div>
        <div class="service-item-edit" (click)="changeToEdit()">
          <svg>
            <use xlink:href="#svg-edit" />
          </svg>
        </div>
        <div class="service-item-trash" (click)="deleteItem()">
          <svg>
            <use xlink:href="#svg-trash-2" />
          </svg>
        </div>
      </ng-container>
    </div>
  
  </div>

  <div class="error-text" *ngIf="group.invalid">
      Campos faltantes
  </div>
  
  
  <ng-template #formTemplateEdit>
    <div class="service-item">
      
      <ng-container *ngTemplateOutlet="controls"></ng-container>
  
      <div class="service-item-edit" (click)="changeToCheck()">
        <svg>
          <use xlink:href="#svg-save-outline" />
        </svg>
      </div>
    
    </div>
  </ng-template>
  
  <ng-template #formTemplateNew>
    <div class="service-item">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
  
      <div class="service-item-trash" (click)="deleteItem()">
        <svg>
          <use xlink:href="#svg-trash-2" />
        </svg>
      </div>
    
    </div>
  </ng-template>
  
  
  <ng-template #controls>
    <div class="stvInputContainer select">
      <st-select formControlName="productoId" position="fixed" [multiple]="false" [config]="{
          placeholder: 'Selecciona',
          moreText: 'más',
          noResultsFound: 'Sin resultados',
          displayKey: 'label',
          searchPlaceholder: 'Buscar',
          selectAllLabel: 'Seleccionar todo'
      }" [options]="products"/>
    </div>
  
    <div class="stvInputContainer cantidad">
      <input type="number" formControlName="cantidad">
    </div>
  
  </ng-template>

</ng-container>

